<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h2 class="fw-bold text-color pb-3">Members</h2>
        <div>
            <button routerLink="/member-form"  class="btn main-btn text-white fs-6 fw-bold py-2 px-4 mb-4" id="" *ngIf="showAdminBoard">Create Member</button>
            <button routerLink="/competition-member-form"  class="btn main-btn text-white ms-3 fs-6 fw-bold py-2 px-4 mb-4" id="" *ngIf="showAdminBoard">Add Member to Competition</button>
        </div>
    </div>
    <table id="memberDataTable" class="display">
        <thead>
        <tr>
            <th>Name</th>
            <th>Family Name</th>
            <th>Accession Date</th>
            <th>Nationality</th>
            <th>Identity Document</th>
            <th>Identity Number</th>
            <th>Role</th>
            <th>Active</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of members">
            <td>{{ member.name }}</td>
            <td>{{ member.familyName }}</td>
            <td>{{ member.accessionDate }}</td>
            <td>{{ member.nationality }}</td>
            <td>{{ member.identityDocument }}</td>
            <td>{{ member.identityNumber }}</td>
            <td>
                <p>{{ member.role.name }}</p>
                <select class="form-select" name="selectedRole" [(ngModel)]="selectedRoleIds[member.id]" (change)="updateUserRole(member.id)" *ngIf="showManagerBoard" [disabled]="member.id === 1">
                    <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
                </select>
            </td>
            <td>
                <button *ngIf="!member.enabled && showManagerBoard" class="btn btn-success my-2" (click)="activateUser(member.id)" [disabled]="member.id === 1">Activate</button>
                <button *ngIf="member.enabled && showManagerBoard" class="btn btn-danger" (click)="deactivateUser(member.id)" [disabled]="member.id === 1">Deactivate</button>
            </td>
            
        </tr>
        </tbody>
    </table>
</div>
