<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h2 class="fw-bold text-color pb-3">Huntings</h2>
        <button routerLink="/hunting-form"  class="btn main-btn text-white fs-6 fw-bold py-2 px-4 mb-4" id="" *ngIf="showAdminBoard">Create Hunt</button>
    </div>
    <table id="huntingTable" class="display">
        <thead>
        <tr>
            <th>Number of Fish</th>
            <th>Fish</th>
            <th>Competition</th>
            <th>Weight</th>
            <th>Member</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hunting of huntings">
            <td>{{ hunting.numberOfFish }}</td>
            <td>{{ hunting.fish?.name }}</td>
            <td>{{ hunting.competition?.code }}</td>
            <td>{{ hunting.weight }}</td>
            <td>{{ hunting.member?.identityNumber }}</td>
        </tr>
        </tbody>
    </table>

</div>
