.container {
    max-width: 800px;
    margin: auto;
  }
  
  h2 {
    color: #333;
  }
  
  .d-flex {
    display: flex;
  }
  
  .gap-5 {
    gap: 5px;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .mb-4 {
    margin-bottom: 4px;
  }
  
  .form-label {
    margin-bottom: 0;
  }
  
  .form-select {
    padding: 10px;
    font-size: 16px;
  }
  
  .podium {
    display: flex;
    justify-content: space-around;
  }
  
  .podium-item {
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .first-place {
    background-color: #ffd700; /* Gold color */
    color: #333;
  }
  
  .second-place {
    background-color: #c0c0c0; /* Silver color */
    color: #333;
  }
  
  .third-place {
    background-color: #cd7f32; /* Bronze color */
    color: white;
  }
  
  /* Add additional styles as needed */
  