.containerRank {
  display: flex;
  align-items: flex-end;
}

.podium__item {
  width: 200px;
}

.podium__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
}

.podium__city {
  text-align: center;
}

.podium__number {
  width: 27px;
  height: 75px;
}

.podium .first {
  min-height: 300px;
  background: #faa307;
}

.podium .second {
  min-height: 200px;
  background: #0f4c5c;
}

.podium .third {
  min-height: 100px;
  background: #588157;
}