<header>
    <nav class="navbar navbar-expand-lg navbar-home px-4 py-2">
        <div class="container">
            <a routerLink="" class="navbar-brand d-flex align-items-center text-white">
                <h4 class="me-1 ">Aftas</h4>
                <img [src]="imageUrl" alt="logo" class="" style="max-height: 50px; max-width: 50px;">
                <h4 class="ms-1"> Club</h4>
            </a>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav gap-4">
                    <li class="nav-item">
                        <a routerLink="" class="nav-link text-white" *ngIf="isLoggedIn()">Home</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/competitions" class="nav-link text-white" *ngIf="isLoggedIn()">Competitions</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/huntings" class="nav-link text-white" *ngIf="showAdminBoard">Huntings</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/rankings" class="nav-link text-white" *ngIf="showAdminBoard">Rankings</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/members" class="nav-link text-white" *ngIf="showAdminBoard">Members</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/member-competitions" class="nav-link text-white" *ngIf="isLoggedIn()" >Your participations</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/ranking-top" class="nav-link text-white" *ngIf="isLoggedIn()">Top 3</a>
                    </li>
                </ul>
            </div>

            <div class="d-flex align-items-center" *ngIf="!isLoggedIn()">
                <a routerLink="/login" class="btn btn-outline-light me-3">Log in</a>
                <a routerLink="/register" class="btn btn-light">Get started</a>
            </div>
            <form class="d-flex" *ngIf="isLoggedIn()">
                <button class="btn btn-light" type="submit" (click)="handleLogout()">logout</button>
            </form>
        </div>
    </nav>
</header>
