<app-navbar></app-navbar>
<div class="container mt-5 mb-5">
    <div class="d-flex gap-4 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 mt-5">
        <div class="col" *ngFor="let competition of competitions">
            <div class="card card-menu btn bg-white mb-3 p-0" style="background-color: white !important;">
                <div class="">
                    <img [src]="imageSection2" class="img-fluid img-form" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body text-start">
                    <div class="d-flex gap-4">
                        <h5 class="card-title font-weight-bold"><a>{{ competition.code }}</a></h5>
                        <p><span class="fw-bolder">|</span></p>
                        <p class="mb-2">Limit • {{ competition.limitParticipants }} person</p>
                    </div>
                    <p class="card-text">
                        Ducimus voluptatum ullam ad, 
                        eos earum eius molestiae sed, beatae inventore?
                    </p>
                    <div class="d-flex gap-3">
                        <p class="mt-1 fw-bold">Number Of Participants</p>
                        <div class="chip"><span class="chip-content">{{ competition.numberOfParticipants }}</span></div>
                    </div>
                    <div class="d-flex gap-3">
                        <p class="mt-1 fw-bold">Location</p>
                        <div class="chip"><span class="chip-content">{{ competition.location }}</span></div>
                    </div>
                    <hr class="my-4" />
                    <div class="d-flex gap-5 mb-4">
                        <div class="">
                            <h6 class="">Date</h6>
                            <div class="chip"><span class="chip-content">{{ competition.date }}</span></div>
                        </div>
                        <div class="">
                            <h6 class="">Start Time</h6>
                            <div class="chip"><span class="chip-content">{{ competition.startTime }}</span></div>
                        </div>
                    </div>
                    <div class="d-flex gap-5">
                        <div class="">
                            <h6 class="">End Time</h6>
                            <div class="chip"><span class="chip-content">{{ competition.endTime }}</span></div>
                        </div>
                        <div class="">
                            <h6 class="text-sm">Amount</h6>
                            <div class="chip"><span class="chip-content">{{ competition.amount }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" *ngIf="competitions.length === 0">
        <p>No participations available.</p>
    </div>
</div>