<app-navbar></app-navbar>
<section class="Container px-4 mx-auto d-flex justify-content-center flex-column align-items-center home-section mb-3 gap-5">
    <div class="pe-5">
        <img [src]="imageSection" class="img-fluid" alt="pro">
    </div>
    <div class="mt-4 text-white text-center w-100">
        <h1 class="text-center font-extrabold text-font fs-1">Welcome to Aftas Club</h1>
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <h3 class="mb-5 mt-5 fs-5 text-center font-normal w-100">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h3>
            </div>
        </div>
        <button routerLink="competition-member-form"  class="btn btn-outline-light rounded-5 fs-4 fw-bold py-2 px-4 mb-4" id="" *ngIf="showAdminBoard">Add Member to Competition</button>
    </div>
</section>
<div class="card card-home container mt-5 mb-5" [style.backgroundImage]="'url(' + getImageUrl() + ')'">
    <div class="card-body d-flex align-items-center">
        <h1 class="home-text fw-bolder ps-3 pe-3 mt-5">Welcome to Aftas Club</h1>
    </div>
</div>
<!-- <app-competition></app-competition> -->


